<div class="article">
  <a href= {{this.link}}>
    <p class="p-6">{{this.headline}}</p>
    <p class="p-6">{{this.byline}}</p>
    <p class="p-6">{{this.summary}}</p>
    </a>
  {{#unless this.saved}}
    <button class='btnSave' data-id="{{this._id}}">Save Article</button>
  {{/unless}}
  {{#if this.saved}}
    <button class='btnUnSave' data-id="{{this._id}}">UnSave Article</button>
  {{/if}}
  <button class='btnComment' data-id="{{this._id}}">View Article Comments</button> {{> comments}}
</div>
