<div class="modal" id= "{{this._id}}-comments">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
      <a href= {{this.link}}>
        {{this.headline}}<br />
        {{this.byline}}<br />
        {{this.summary}}<br />
      </a>
    </p>
    <ul id= "{{this._id}}-commentsList">
      {{#each this.comments}}
        <li class='p-6'>
          {{this.content}}
        </li>
      {{/each}}

    </ul>
    <form class="commentForm">
      <textarea name="commentText" rows="8" cols="80" id="newComment-{{this._id}}"></textarea><br />
      <button class="btnAddComment" data-id={{this._id}}>Add Comment</button>
    </form>
  </div>
</div>
